.select-width{
  width : 214.86px;
}

.page-content{
  padding-left: 20%;
  padding-top: 5rem;
}

.navbar {
  margin-left: auto;
}

.navbar a {
  align-items: right;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 1rem;
}